<!DOCTYPE html>
<html>
<head>
    <title>Rekap Kehadiran</title>
    <link rel="stylesheet" href="../static/CSS/index.css">
</head>
<body>
    <h1>📋 Rekap Kehadiran Siswa</h1>

    <h2 class="hadir">✅ Hadir</h2>
    <ul>
        {% for nama, waktu in hadir %}
        <li>{{ nama }} — <small>{{ waktu }}</small></li>
        {% endfor %}
    </ul>

    <h2 class="tidak-hadir">❌ Tidak Hadir</h2>
    <ul>
        {% for nama in tidak_hadir %}
        <li>{{ nama }}</li>
        {% endfor %}
    </ul>
</body>
</html>
